<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IImageService" />
                <binding name="BasicHttpBinding_IImageService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58168/Images/ImageService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IImageService"
                contract="ImageService.IImageService" name="BasicHttpBinding_IImageService" />
            <endpoint address="http://vasya18-001-site1.dtempurl.com/Images/ImageService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IImageService1"
                contract="ImgService.IImageService" name="BasicHttpBinding_IImageService1" />
        </client>
    </system.serviceModel>
</configuration>